<article>

	<% if (fileKeyExists('teaser')) { %>
		<div class="article-image">
			<%= renderImage('teaser', 'smallPic') %>
		</div>
	<% } %>

	<div class="article-content">
		<div class="entry-date"><%= formatDate(date) %></div>
		<div class="inner">
			<h1><%= title %></h1>
			<p><%= desc %></p>
			<% if (fileKeyExists('animation')) { %>
				<iframe style="border:none;width:100%;height:20em;" src="/public/files/<%= getFile('animation').name %> "></iframe>
			<% } %>
		</div>
	</div>
	<div class="infos">
		<ul>
			<li><span class="glyphicon glyphicon-comment"></span> Kommentare</li>
			<li><span class="glyphicon glyphicon-tag"></span> <%= tags %></li>
			<li><span class="glyphicon glyphicon-user"></span> by <%= author %></li>
			<li><span class="glyphicon glyphicon-asterisk"></span> <%= category %></li>
		</ul>
	</div>
</article>

<div class="images">
	<%= renderImages() %>
</div>

<div class="buttons">
	<a href="#" class="back btn btn-default">Zurück</a>
</div>
