<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Cover: <%= magazine.title %></title>

	<link rel="stylesheet" type="text/css" href="css/book.css">
	<link rel="stylesheet" media="print" type="text/css" href="css/print.css">
	<style>
		body {
			background-image:url('images/<%= cover %>');
		}
	</style>
</head>
<body>
	<h1><%= magazine.title %></h1>


	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>