<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Back: <%= magazine.title %></title>
	<meta name="viewport" content="width=768; initial-scale=1.0;"/>
	<style>
		body {
			background:url(/static/files/simplin.jpg);
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-position:center;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="css/book.css">
	<link rel="stylesheet" media="print" type="text/css" href="css/print.css">
</head>
<body>
	<h1>BACK</h1>
</body>
</html>