<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Cover: <%= magazine.title %></title>

	<link rel="stylesheet" type="text/css" href="css/book.css">
	<style>
		body {
			background:url(<%= magazine.cover %>);
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-position:center;
			background-size:100%;
		}
		.print {
			width:14.8cm;
			height:21cm;
		}
	</style>
	<link rel="stylesheet" media="print" type="text/css" href="css/print.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<h1>COVER lol</h1>
</body>
<script>

</script>
</html>