    <div class="form-group">
        <label>Key</label>
        <input type="text" name="key" class="form-control" value="<%= key %>" />
    </div>

    <div class="form-group">
        <label>Data</label>
        <textarea name="data" class="form-control"><%= data %></textarea>
    </div>

    <div class="form-group">
        <label>Deleteable</label>
        <% if(deleteable){ %>
           <input class="deleteable" type="checkbox" checked />
        <% } else { %>
           <input class="deleteable" type="checkbox"/>
        <% } %>
    </div>


<div class="buttons">
	<% if(deleteable){ %>
	   <button class="delete btn btn-danger">Delete</button>
    <% } %>
</div>
