

<div id="article-details"></div>
<% if( _id !== undefined) { %>

	<div class="files">
		<h2>Files</h2>
	    <div class="file-list sortable"></div>
	    <a id="files" href="#filebrowser/article/<%= _id %>" class="btn btn-primary" data-toggle="modal" data-target="#overlay">
	        <i class="glyphicon glyphicon-plus"></i>
	        <span>Add files...</span>
		</a>
	</div>
<% } %>

<div class="buttons">
	<button class="delete btn btn-danger">Delete</button>
	<% if (privatecode === true) { %>
		<button id="publish" class="btn btn-success">Publish</button>
	<% } else { %>
		<button id="publish" class="btn">Unpublish</button>
	<% } %>
</div>