<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Publish!</title>
		<meta name="description" content="" />
		<meta name="author" content="dni" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!--		<meta name="viewport" content="width=device-width; initial-scale=1.0" /> -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

	</head>

	<body>
		<div id="app">
			<div id="navigation"></div>
			<div id="main" class="row">
				<div id="sidebar" class="col-md-3">
					<div id="list-top"></div>
					<div id="list"></div>
				</div>
				<div id="content" class="col-md-9"></div>
			</div>
			
			<div id="overlay"></div>
			<div id="info"></div>
		</div>
	</body>
	
	<script type="text/javascript" data-main="/admin/config" src="/admin/lib/requirejs/require.js"></script>
</html>
