<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Seite: <%= page.number %> <%= magazine.title %></title>
	<link rel="stylesheet" type="text/css" href="css/book.css">
	<link rel="stylesheet" media="print" type="text/css" href="css/print.css">
	<style>
		body {
			<% var keys = Object.keys(files) %>
			background-image:url('images/<%= files[keys.pop()] %>');
		}
	</style>
</head>
<body>
	<div id="page" class="chapter">

	  <div id="content" class="chapter">
		  <h1><%= article.title %></h1>
		  <%- article.desc %>
	  </div>

	</div>

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>