
@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400,200,700,900');

body { 
  color: #333;
  font-size: 12pt;
  font-family: "Titillium Web",Arial,Verdana;
  line-height: 1.45em;
  margin-top: 30px;
  position:relative;
}

h1, h2 {font-weight:200;}
img {width:100%;max-height:auto;height:auto;}

