<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Cover: <%= magazine.title %></title>
	<link rel="stylesheet" type="text/css" href="css/book.css">
	<style>
		.cover {width:100%;}
	</style>
	<link rel="stylesheet" media="print" type="text/css" href="css/print.css">
</head>
<body>
	
	<div id="page">
		<% var images = magazine.cover.split('.'); for (key in images) { if  (images[key].length > 0) { %>
			<img src="<%= images[key] %>" class="central cover" />
	  	<% } } %>
	</div>
</body>
</html>