
<div id="pages" class="edit">
	<h2>Seiten</h2>
    <div class="page-list sortable"></div>
    <button id="addPage" class="btn"><span class="glyphicon glyphicon-plus"></span> Add Page</button>
</div>

<div id="magazine-details"></div>

<div class="buttons">
	<div class="edit">
		<button class="printsettings btn">Print Settings</button>
		<button class="save btn btn-success">Save</button>
	</div>
	<div class="saved">
		<button class="delete btn btn-danger">Delete</button>
		<button id="print" class="btn">Print</button>
		<button id="downloadApp" class="btn">Download Standalone App</button>
		<button id="download" class="btn">Download Print PDF</button>
		<button id="hpub" class="btn">Generate Hpub</button>
		<button id="edit" class="btn btn-primary">Edit</button>
	</div>
</div>
