

<div id="magazine-details"></div>

<% if( _id !== undefined) { %>

    <div class="files">
        <h2>Files</h2>
        <div class="file-list sortable"></div>
        <a id="files" href="#filebrowser/magazine/<%= _id %>" class="btn btn-primary" data-toggle="modal" data-target="#overlay">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
        </a>
    </div>
<% } %>

<div id="pages">
	<h2>Seiten</h2>
    <div class="page-list sortable"></div>
    <button id="addPage" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Page</button>
</div>

<div class="buttons">

	<button id="download" class="btn btn-default">PDF</button>

	<% if (published === false) { %>
		<button class="publish btn btn-success">Publish</button>
	<% } else { %>
		<button class="publish btn btn-default">Unpublish</button>
	<% } %>

	<button class="delete btn btn-danger">Delete</button>
</div>
