<div class="preview">
	<h1><%=  title %></h1>
	<h5>by <%=  author %></h5>
	<p><%=  desc %></p>
	<p>Cover</p>
	<img src="<%=  cover %>" />
	<p>Back</p>
	<img src="<%=  back %>" />
</div>

<div class="edit">
	<label>Titel</label><input type="text" name="title" value="<%=  title %>" /> <br/>
	<label>Impressum</label><textarea name="impressum"><%=  impressum %></textarea> <br/>
	<label>Editorial</label><textarea name="editorial"><%=  editorial %></textarea> <br/>
	<label>Cover</label>
	<div id="cover">
		<input type="file" name="cover" />
		<output>
			<% if ( cover) { %>
				<img width="100" src="<%= cover %>" />
			<% } %>
		</output>
	</div>
	<label>Back</label>
	<div id="back">
		<input type="file" name="back" />
		<output>
			<% if ( back) { %>
				<img width="100" src="<%= back %>" />
			<% } %>
		</output>
	</div>
</div>
