<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
       <ul class="nav pull-right">
			<a href="#settings" id="login" title="Settings" class="btn"><i class="icon-cog"></i></a>
			<a href="#article/new" id="add" title="Add a new Code" class="btn"><i class="icon-plus"></i></a>
			<a href="#login" id="login" title="Login or Sign up" class="btn"><i class="icon-user"></i></a>
		</ul>
      <a class="brand" href="#">Publish!</a>
        <ul class="nav">
          <li class="active"><a id="showOwn" class="navButton" href="#own">Artikel</a></li>
          <li><a id="showIssues" class="navButton" href="#favorites">Ausgaben</a></li>
	    </ul>
    </div>
  </div><!-- /navbar-inner -->
</div>
