<form name="login">
	<h2><span class="log-in">Log in</span> or <span class="sign-up">sign up</span></h2>
	<p class="pull-left">
		<label for="email"><i class="icon-user"></i>Email</label>
		<input type="text" name="email" placeholder="Email">
	</p>
	<p class="pull-left">
		<label for="password"><i class="icon-lock"></i>Password</label>
		<input type="password" name="password" placeholder="Password" class="showpassword">
	</p>
	<div class="clear"></div>
	<p class="pull-right"> 
		<a href="#" class="btn" id="newUser">Registrieren</a>    
		<input class="btn btn-primary" type="submit" name="submit" value="Log in">
	</p>
	<a href="#lostpassword">Passwort vergessen?</a>

</form>



<!-- 
	<form>
	<input typw="text" name="user" placeholder="Username" />
	<input typw="password" name="password" placeholder="Password" />
	<input type="submit" value="Login" />
</form>


	
	
	-->