<div class="preview">
	<h1><%- model.title %></h1>
	<h5>by <%- model.author %></h5>
	<p><%- model.desc %></p>
	<p>Cover</p>
	<img src="<%= model.cover %>" />
	<p>Back</p>
	<img src="<%= model.back %>" />
</div>
<div class="edit">
	<label>Titel</label><input type="text" name="title" value="<%- model.title %>" /> <br/>
	<label>Impressum</label><textarea name="impressum"><%- model.impressum %></textarea> <br/>
	<label>Editorial</label><textarea name="editorial"><%- model.editorial %></textarea> <br/>
	<label>Cover</label> 
	<div id="cover">
		<input type="file" name="cover" />
		<output>
			<% if (model.cover) { %>
				<img width="100" src="<%= model.cover %>" />
			<% } %>
		</output>
	</div>
	<label>Back</label> 
	<div id="back">
		<input type="file" name="back" />
		<output>
			<% if (model.back) { %>
				<img width="100" src="<%= model.back %>" />
			<% } %>
		</output>
	</div>
	<label>Seiten</label>
	<div id="pageList"></div>
	<a id="addPage" class="btn"><i class="icon-plus"></i>Seite hinzufügen</a>
</div>
<div class="buttons">
	<div class="edit">
		<button class="printsettings btn">Print Settings</button>
		<button class="save btn btn-success">Save</button>
	</div>
	<div class="saved">
		<button class="delete btn btn-danger">Delete</button>	
		<button id="print" class="btn">Print</button>
		<button id="download" class="btn">Download Print PDF</button>
		<button id="hpub" class="btn">Generate Hpub</button>
		<button id="edit" class="btn btn-primary">Edit</button>
	</div>
</div>
