<!DOCTYPE html>
<html lang="en">
	<head>
	    <!-- <staticblock key="head" el="header" class="lolol" /> -->

		<meta charset="utf-8" />
		<title>Frontend Blog Publish</title>
		<meta name="description" content="" />
		<meta name="author" content="dni" />

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<!-- <meta name="viewport" content="width=device-width; initial-scale=1.0" /> -->
		<link rel="shortcut icon" href="./public/favicon.ico" />
		<link rel="apple-touch-icon" href="./public/apple-touch-icon.png" />

	</head>

	<body>
	    <staticblock key="header" el="header" class="lolol"></staticblock>

        <header></header>
        <hr />
        <logo></logo>
        <hr />
		<div id="app">
			<h1>Simple Publish Frontend</h1>
			<div id="list" class="content"></div>
		</div>
		<script type="text/javascript" data-main="config" src="/lib/requirejs/require.js"></script>
	</body>
</html>

