
@import url('http://fonts.googleapis.com/css?family=Titillium+Web:400,200,700,900');

html, body {
    width:100%;
    height:100%;
    box-sizing:border-box;
}
body {

  margin:0; /** prevent scrolling */
  padding:64px;

  overflow:hidden;
  color: #333;
  font-size: 12pt;
  font-family: "Titillium Web",Arial,Verdana;
  line-height: 1.45em;
  position:relative;

	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;

}

h1, h2 {font-weight:200;}
img {width:100%;max-height:auto;height:auto;}

#cover-title {
    text-shadow: 0 0 7px #000;
    color: white;
    font-size: 54px;
    position: absolute;
    bottom: 96px;
}

#index {

}

