<h1><%= label %></h1>
<div class="form-fields">
    <% for (key in settings) { if (settings[key].type == "button") continue; %>
        <% if (settings[key].type=="header") { %>
            <h2><%= settings[key].label %></h2>
        <% } else { %>
            <div class="form-group">
    		    <label><%= settings[key].label %>
    		      <% if (settings[key].description) { %>
    		          <a data-toggle="tooltip" data-placement="top" title="<%= settings[key].description %>"><span class="badge">?</span></a>
    		      <% } %>
    		    </label>

        		<% if (settings[key].type=="checkbox") { %>
    		      <% if (settings[key].value != "0" || settings[key].value) { %>
    		      	<input class="setting form-control" type="checkbox" name="<%= key %>" checked>
    		      <% } else { %>
    				<input class="setting form-control" type="checkbox" name="<%= key %>">
    		      <% } %>

        		<% } if (settings[key].type=="select") { %>
        			<select class="setting form-control" name="<%= key %>" >
        				<% for (option in settings[key].options) { %>
        				    <% if (settings[key].value == option) { %>
        				      	<option selected value="<%= option %>"><%= settings[key].options[option] %></option>
        				    <% } else { %>
        						<option value="<%= option %>"><%= settings[key].options[option] %></option>
        				    <% } %>
        		    	<% } %>
        			</select>

        		<% } if (settings[key].type=="text") { %>
    			    <input type="<%= settings[key].type %>" class="setting form-control" name="<%= key %>" value="<%= settings[key].value %>">
        		<% } %>

        	    <% if (settings[key].type=="range") { %>
    	        	<input type="<%= settings[key].type %>" class="setting form-control range" step="<%= settings[key].step %>" min="<%= settings[key].min %>" max="<%= settings[key].max %>" name="<%= key %>" value="<%= settings[key].value %>">
        	    <% } %>

        	    <% if (settings[key].type=="color") { %>
    	        	<input type="text" class="setting form-control colorpicker <%= key %>" value="<%= settings[key].value %>"  name="<%= key %>" >
        	    <% } %>
            </div>
        <% } %>
	<% } %>
</div>

<% for (key in settings) { %>
	<% if (settings[key].type=="button") { %>
		<div class="btns">
		    <button class="btn btn-default" id="<%= key %>" onclick="$('body').trigger('<%= settings[key].event %>')"><%= settings[key].label %></button>
		</div>
	<% } %>
<% } %>