<h1><%= name %></h1>

<% for (key in settings) { %>
	<% if (settings[key].type=="checkbox") { %>
		<div class="form-group checkbox">
		    <label>
		      <% if (settings[key].value) { %>
		      	<input type="checkbox" name="<%= key %>" checked>
		      <% } else { %>
				<input type="checkbox" name="<%= key %>">
		      <% } %>	
		       <%= settings[key].label %>	
		    </label>
		</div>
		
	<% } if (settings[key].type=="select") { %>
		<div class="form-group">
			<label><%= settings[key].label %></label>
			<select class="form-control" name="<%= key %>" >
				<% for (option in settings[key].options) { %>
				    <% if (settings[key].value == option) { %>
				      	<option selected value="<%= option %>"><%= settings[key].options[option] %></option>
				    <% } else { %>
						<option value="<%= option %>"><%= settings[key].options[option] %></option>
				    <% } %>	
		    	<% } %>
			</select>
		</div>
	<% } if (settings[key].type=="text") { %>
		<div class="form-group">
		    <label><%= settings[key].label %></label>
		    <input type="<%= settings[key].type %>" class="form-control" name="<%= key %>" value="<%= settings[key].value %>">
		 </div>
	<% } %>
<% } %>
