<div class="public">
	<div class="row-fluid">
		<div class="span3">
			<h2>Latest Codes</h2>
			<p>Bootstrap was made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in tablet and smartphone browsers via responsive CSS as well.</p>
			<ul></ul>
		</div>
		<div class="span3">
			<h2>Popular Codes</h2>
			<p>Bootstrap was made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in tablet and smartphone browsers via responsive CSS as well.</p>
			<ul></ul>
		</div>
		<div class="span3">
			<h2>Top Rated</h2>
			<p>Bootstrap was made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in tablet and smartphone browsers via responsive CSS as well.</p>
			<ul></ul>
		</div>
		<div class="span3">
			<h2>Latest Users</h2>
			<p>Bootstrap was made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in tablet and smartphone browsers via responsive CSS as well.</p>
			<ul></ul>
		</div>
		
	</div>
	
	<h2>Veröffentlichen, Favoriten, Kommentare, Bewertungen</h2>
	<p>Damit Sie Ihre Codes veröffentlichen, eine Sicherung im Internet machen, andere Codeschnipsel revidieren/kommentieren, müssen Sie sich einloggen.</p>
	<a href="#newUser">Neu Registrieren</a>
	<p>&copy; by <a href="http://www.dnilabs.com/">dnilabs</a></p>
	
</div>