<form class="form-inline" action="/uploadFile" method="POST" id="uploadFile" enctype="multipart/form-data">
      <div class="btn btn-default fileinput-button">
          <span class="glyphicon glyphicon-cloud-upload"></span>
          <input id="upload" type="file" name="files[]" multiple="multiple">
      </div>

  <!-- <a id="add" title="Add" href="#newFile" class="btn btn-default"><span class="glyphicon glyphicon-cloud-upload"></span></a> -->
  <div class="form-group">
    <label class="sr-only">Email address</label>
    <input type="text" class="form-control search-query" placeholder="Search">
  </div>
</form>